<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyHood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83EE044D1C1B900300B92A73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83EE04611C1B900400B92A73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83EE046C1C1B900400B92A73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
